[submodule "CLMS-UI"]
	path = xi3
	url = https://github.com/Rappsilber-Laboratory/xiView.git
[submodule "CLMS-model"]
	path = CLMS-model
	url = https://github.com/Rappsilber-Laboratory/CLMS-model.git
[submodule "spectrum"]
	path = spectrum
	url = https://github.com/Rappsilber-Laboratory/xiSPEC_spectrumViewer.git
[submodule "crosslink-viewer"]
	path = crosslink-viewer
	url = https://github.com/Rappsilber-Laboratory/crosslink-viewer.git
[submodule "xidocs"]
	path = xidocs
	url = https://github.com/Rappsilber-Laboratory/xidocs.git
[submodule "xi2_xiview_loader"]
	path = xi-web-api
	url = https://github.com/Rappsilber-Laboratory/xi2_xiview_loader