[submodule "xiview"]
	path = xiview
	url = https://github.com/Rappsilber-Laboratory/xiview.git
[submodule "CLMS-model"]
	path = CLMS-model
	url = https://github.com/Rappsilber-Laboratory/CLMS-model.git
[submodule "spectrum"]
	path = spectrum
	url = https://github.com/Rappsilber-Laboratory/xiSPEC_spectrumViewer.git
[submodule "crosslink-viewer"]
	path = crosslink-viewer
	url = https://github.com/Rappsilber-Laboratory/crosslink-viewer.git
